<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiaqia.dao.OnlineProblemRecordMapper">
    
    <resultMap id="recordResultMap" type="com.qiaqia.entity.OnlineProblemRecord">
        <result column="id"  property="id"></result>
        <result column="app"  property="app"></result>
        <result column="problem_desc"  property="problemDesc"></result>
        <result column="feedback_man_name"  property="feedbackManName"></result>
        <result column="feedback_man_code"  property="feedbackManCode"></result>
        <result column="source"  property="source"></result>
        <result column="city_name"  property="cityName"></result>
        <result column="city_id"  property="cityId"></result>
        <result column="feedback_date"  property="feedbackDate"></result>
        <result column="resolve_status"  property="resolveStatus"></result>
        <result column="product_code"  property="productCode"></result>
        <result column="product_name"  property="productName"></result>
        <result column="engineer_code"  property="engineerCode"></result>
        <result column="engineer_name"  property="engineerName"></result>
        <result column="duty_man_code"  property="dutyManCode"></result>
        <result column="duty_man_name"  property="dutyManName"></result>
        <result column="problem_reason"  property="problemReason"></result>
        <result column="problem_type"  property="problemType"></result>
        <result column="deal_method"  property="dealMethod"></result>
        <result column="remark"  property="remark"></result>
        <result column="create_at"  property="createAt"></result>
        <result column="create_by"  property="createBy"></result>
        <result column="update_at"  property="updateAt"></result>
        <result column="update_by"  property="updateBy"></result>
        <result column="is_deleted"  property="isDeleted"></result>
        <result column="check_status"  property="checkStatus"></result>
    </resultMap>

    <!--分页查询-->
    <select id="getRecordByCondition" resultMap="recordResultMap" >
        select * from online_problem_record where 1=1
        <if test="queryDto.resolveStatus != 0 ">
            and resolve_status = #{queryDto.resolveStatus}
        </if>
        <if test="queryDto.date != null ">
            and feedback_date = #{queryDto.date}
        </if>
        limit #{pageNum},#{pageSize}

        limit #{pageNum},#{pageSize}
    </select>

    <!--查询所有数据-->
    <select id="getAll" resultMap="recordResultMap">
        select * from online_problem_record where is_deleted=0
        <if test="queryDto.resolveStatus !=0">
            and resolve_status = #{queryDto.resolveStatus}
        </if>
    </select>

    <!--查询总数-->
    <select id="getQueryCount" resultType="int">
        select count(*) from online_problem_record where 1=1
        <if test="queryDto.resolveStatus !=0">
            and resolve_status = #{queryDto.resolveStatus}
        </if>
    </select>

    <!--新增-->
    <insert id="insertOrUpdate" useGeneratedKeys="true" keyProperty="id" parameterType="com.qiaqia.entity.OnlineProblemRecord">
        insert into online_problem_record (app,problem_desc,feedback_man_name,feedback_man_code,source,city_name,city_id,feedback_date,resolve_status,product_code,product_name,engineer_code,engineer_name,duty_man_code,duty_man_name,problem_reason,problem_type,deal_method,remark,create_at,create_by,update_at,update_by,is_deleted,check_status)
        values(#{onlineProblemRecord.app},#{onlineProblemRecord.problemDesc},#{onlineProblemRecord.feedbackManName},#{onlineProblemRecord.feedbackManCode},#{onlineProblemRecord.source},#{onlineProblemRecord.cityName},#{onlineProblemRecord.cityId},#{onlineProblemRecord.feedbackDate},#{onlineProblemRecord.resolveStatus},#{onlineProblemRecord.productCode},#{onlineProblemRecord.productName},#{onlineProblemRecord.engineerCode},#{onlineProblemRecord.engineerName},#{onlineProblemRecord.dutyManCode},#{onlineProblemRecord.dutyManName},#{onlineProblemRecord.problemReason},#{onlineProblemRecord.problemType},#{onlineProblemRecord.dealMethod},#{onlineProblemRecord.remark},#{onlineProblemRecord.createAt},#{onlineProblemRecord.createBy},#{onlineProblemRecord.updateAt},#{onlineProblemRecord.updateBy},#{onlineProblemRecord.isDeleted},#{onlineProblemRecord.checkStatus})
    </insert>
</mapper>